<app-listado-generico [listado]="peliculas">
    <ng-container vacio>
        <div>Mensaje personalizado para contenido <b>vacio</b></div>
    </ng-container>
    <ng-container contenido>
        <div *ngFor="let pelicula of peliculas; let i = index" class="pelicula-contenedor">
            <div>
                <h2>Pelicula {{i}}: {{pelicula.titulo}}
                    <button style="margin-left: 1rem;" (click)="eliminarPelicula(i)">Eliminar</button>
                </h2>
            </div>
            <div>
                {{pelicula.fechaLanzamiento | date:"dd-MMMM-yyyy" | uppercase}} <!-- pipe date and uppercase-->
            </div>
            <div>
                {{pelicula.precio | currency}} <!-- pipe date-->
            </div>
        </div>    
    </ng-container>
</app-listado-generico>

